:root {
    --branco-text: #ffffff;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #167bf7;
    --cor-fundo: #00030c;
}

body {
    background-color: var(--cor-fundo);
    color: var(--branco-text);

}

*{
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("imagens/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns:50%;
}

.botao__alug {
    color: var(--branco-text);
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    display: block;
}

.botao2 {
    background-color: transparent;
    border: 2px solid var(--branco-text);
}